NationalParks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <!-- Root element: NationalParks -->
    <xs:element name="NationalParks">
        <xs:complexType>
            <xs:sequence>
                <!-- Multiple NationalPark elements -->
                <xs:element name="NationalPark" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <!-- Name element -->
                            <xs:element name="Name" type="xs:string"/>
                            
                            <!-- Phone element (multiple allowed) -->
                            <xs:element name="Phone" type="xs:string" maxOccurs="unbounded"/>
                            
                            <!-- Address element -->
                            <xs:element name="Address">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Number" type="xs:string"/>
                                        <xs:element name="Street" type="xs:string"/>
                                        <xs:element name="City" type="xs:string"/>
                                        <xs:element name="State" type="xs:string"/>
                                        <xs:element name="Zip" type="xs:string"/>
                                    </xs:sequence>
                                    <!-- Required attribute: NearestAirport -->
                                    <xs:attribute name="NearestAirport" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <!-- Optional attribute: Rating -->
                        <xs:attribute name="Rating" type="xs:decimal" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>
